<div class="sidebar">
    <div class="logo-details">
        <i class='bx bx-grid-alt'></i>
        <div class="logo_name">Dashboard</div>
    </div>
    <ul class="nav-list">
        <li>
            <a href="/admin">
                <i class='bx bx-home-alt-2'></i>
                <span class="links_name">Home</span>
            </a>
            <span class="tooltip">Home</span>
        </li>
        <li>
            <a href="/users">
                <i class='bx bx-user'></i>
                <span class="links_name">Profile</span>
            </a>
            <span class="tooltip">Profile</span>
        </li>
        <li>
            <a href="/lectures">
                <i class='bx bx-book-content'></i>
                <span class=" links_name ">Lectures</span>
            </a>
            <span class=" tooltip ">Lectures</span>
        </li>
        <li>
            <a href="/questions">
                <i class='bx bx-question-mark'></i>
                <span class=" links_name ">Questions</span>
            </a>
            <span class=" tooltip ">Questions</span>
        </li>
        <li>
            <a href="/illegal-words">
                <i class='bx bx-message-x'></i>
                <span class=" links_name ">Illegal words</span>
            </a>
            <span class=" tooltip ">Illegal words</span>
        </li>
        <li class="profile">
            <a href="/logout">
                <i class='bx bx-log-out' id="log_out"></i>
                <span class=" links_name ">Log out</span>
            </a>
        </li>
    </ul>
</div>